<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/portalTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ezcomp="http://xmlns.jcp.org/jsf/composite/ezcomp">

    <ui:define name="title">
        Admin Content
    </ui:define>

    <ui:define name="content">
        Welcome Admin #{loginController.remoteUser}

        <ezcomp:resturant resturant="#{resturantController.resturant}" readonly="false" action="#{resturantController.doSaveResturant()}"/>
        <h:link outcome="/admin/welcome.xhtml" value="Return to Home Page"/>
          
               
    </ui:define>
</ui:composition>