<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/portalTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        Restaurant Form
    </ui:define>

    <ui:define name="content">
        <h:form>    
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel value="Name:" for="restName"/>
                <h:inputText class="form-control" id="restName" value="#{resturantController.resturant.name}"/>
                <h:message for="restName" errorClass="text-danger"/>
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel value="Resturant Type:" for="restType"/>
                <h:selectOneMenu 
                    class="form-control" id="restType" value="#{resturantController.resturant.type}">
                    <f:selectItems value="#{resturantController.restTypes}"
                                   var="type"
                                   itemLabel="#{type.label}"
                                   itemValue="#{type}"/>
                </h:selectOneMenu>
                <h:message for="restType" errorClass="text-danger"/>
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel value="Price $$: " for="restCost"/>

                <h:selectOneMenu class="form-control" id="restCost" value="#{resturantController.resturant.cost}">
                    <f:selectItem itemValue="1"/>
                    <f:selectItem itemValue="2"/>
                    <f:selectItem itemValue="3"/>

                    <f:validateLongRange minimum="1" maximum="5" />
                </h:selectOneMenu>
                <h:message for="restCost" errorClass="text-danger"/>

            </h:panelGroup>
            <h:commandButton value="Submit" class="btn btn-primary" action="#{resturantController.executeSaveRest()}"/>
        </h:form>  
        <h:link outcome="/admin/welcome.xhtml" value="Return to Home Page"/>

    </ui:define>

</ui:composition>
