<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/portalTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="title">
         A New Restaurant Has Been Added 
    </ui:define>

    <ui:define name="content">
        <ul>
            <li>ID : #{resturantController.resturant.id}</li>
            <li>Name : #{resturantController.resturant.name}</li>
<!--            <li>#{resturantController.resturant.type}</li>-->
            <li>Type : #{resturantController.resturant.type.label}</li>
            <li>Cost : #{resturantController.resturant.cost}</li>
        </ul>
        <h:link outcome="/admin/welcome.xhtml" value="Return to Home Page"/>
    </ui:define>

</ui:composition>
