<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/portalTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
            Welcome Page - Admin
    </ui:define>

    <ui:define name="content">
        <div style ="color: green">
            Welcome Administrator #{loginController.remoteUser}
        </div>

        <h:form>
            <h:commandButton value="Add New Restaurant" class="btn btn-primary" action="/admin/resturantform.xhtml"/>
        </h:form> 
       <h:dataTable 
            class="table table-striped table-hover"            
            value="#{resturantService.findAll()}" 
            var="resturant">
            <h:column>
                <h:outputText value="#{resturant.id}"></h:outputText>
                <f:facet name="header"><h:outputText value="ID"/></f:facet>
            </h:column>

            <h:column>
                <h:outputText value="#{resturant.name}"></h:outputText>
                <f:facet name="header"><h:outputText value="Name"/></f:facet>
            </h:column>

            <h:column>
                <h:outputText value="#{resturant.cost}"></h:outputText>
                <f:facet name="header"><h:outputText value="Cost Range"/></f:facet>
            </h:column>

            <h:column>
                <h:outputText value="#{resturant.type.label}"></h:outputText>
                <f:facet name="header"><h:outputText value="Resturant Type"/></f:facet>
            </h:column> 
            <h:column>
                <h:form>
                    <h:commandLink action="#{resturantController.prepareViewResturant(resturant)}" value="View "/>
                    <h:commandLink action="#{resturantController.prepareEditResturant(resturant)}" value="Update "/>
                    <h:commandLink action="#{resturantController.doDeleteResturant(resturant)}" value="Delete"/>
                </h:form>
            </h:column>                
        </h:dataTable>        
    </ui:define>
</ui:composition>
