<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="reservation" required="true" type="edu.iit.sat.itmd4515.lmiro.domain.Reservation" />
        <cc:attribute name="readonly" required="false" default="true" type="java.lang.Boolean" />
        <cc:attribute name="action" required="false" method-signature="java.lang.String action()" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <h2>
            <h:outputText rendered="#{cc.attrs.readonly}" value="View Reservation"/>
            <h:outputText rendered="#{not cc.attrs.readonly and empty cc.attrs.reservation.id}" value="Create New Reservation"/>
            <h:outputText rendered="#{not cc.attrs.readonly and not empty cc.attrs.reservation.id}" value="Update Reservation"/>
        </h2>

        <h:form>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel value="Reservation ID #{cc.attrs.reservation.id}" for="reservationId" rendered="#{cc.attrs.readonly or not empty cc.attrs.reservation.id}" />
                <h:inputHidden class="form-control" id="reservationVersion" value="#{cc.attrs.reservation.version}"/>

                <h:inputHidden class="form-control" id="reservationId" value="#{cc.attrs.reservation.id}"/>
                <h:message for="reservationId" errorClass="text-danger"/>
            </h:panelGroup>




            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel value="Date:" for="date"/>
                <h:inputText 
                    readonly="#{cc.attrs.readonly ? 'true' : 'false'}"
                    disabled="#{cc.attrs.readonly ? 'true' : 'false'}"
                    class="form-control" 
                    p:type="date" 
                    p:required="required"

                    id="date" 
                    value="#{cc.attrs.reservation.date}">
                    <f:convertDateTime type="localDate" pattern="yyyy-MM-dd"/>
                    <h:message for="date" errorClass="text-danger"/>
                </h:inputText>
            </h:panelGroup>            

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel value="Time:" for="time"/>
                <h:inputText 
                    readonly="#{cc.attrs.readonly ? 'true' : 'false'}"
                    disabled="#{cc.attrs.readonly ? 'true' : 'false'}"

                    class="form-control" 
                    id="time" 
                    p:required="required"

                    value="#{cc.attrs.reservation.time}">
                    <h:message for="time" errorClass="text-danger"/>
                </h:inputText>

            </h:panelGroup> 

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel value="Party Number:" for="partyNum"/>
                <h:inputText 
                    readonly="#{cc.attrs.readonly ? 'true' : 'false'}"
                    disabled="#{cc.attrs.readonly ? 'true' : 'false'}"

                    class="form-control" 
                    id="partyNum" 
                    value="#{cc.attrs.reservation.partyNum}"/>
                <h:message for="partyNum" errorClass="text-danger"/>
            </h:panelGroup>              


            <ui:fragment rendered="#{not cc.attrs.readonly}">
                <h:commandButton value="Save Reservation" class="btn btn-primary" action="#{cc.attrs.action}"/>
            </ui:fragment>

        </h:form>                
    </cc:implementation>
</html>