<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="resturant" required="true" type="edu.iit.sat.itmd4515.lmiro.domain.Resturant" />
        <cc:attribute name="readonly" required="false" default="true" type="java.lang.Boolean" />
        <cc:attribute name="action" required="false" method-signature="java.lang.String action()" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <h2>
            <h:outputText rendered="#{cc.attrs.readonly}" value="View Resturant"/>
            <h:outputText rendered="#{not cc.attrs.readonly and not empty cc.attrs.resturant.id}" value="Update Resturant"/>
        </h2>

        <h:form>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel value="Resturant ID #{cc.attrs.resturant.id}" for="resturantId" rendered="#{cc.attrs.readonly or not empty cc.attrs.resturant.id}" />
                <h:inputHidden class="form-control" id="resturantVersion" value="#{cc.attrs.resturant.version}"/>

                <h:inputHidden class="form-control" id="resturantId" value="#{cc.attrs.resturant.id}"/>
                <h:message for="resturantId" errorClass="text-danger"/>
            </h:panelGroup>




            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel value="Name:" for="restName"/>
                <h:inputText 
                    readonly="#{cc.attrs.readonly ? 'true' : 'false'}"
                    class="form-control" 
                    id="restName" 
                    value="#{cc.attrs.resturant.name}">
                    <h:message for="resturant.name" errorClass="text-danger"/>
                </h:inputText>

            </h:panelGroup>            

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel value="Resturant Type:" for="restType"/>
                <h:selectOneMenu 
                    readonly="#{cc.attrs.readonly ? 'true' : 'false'}"
                    disabled="#{cc.attrs.readonly ? 'true' : 'false'}"                    
                    class="form-control" id="restType" value="#{cc.attrs.resturant.type}">
                    <f:selectItems value="#{resturantController.restTypes}"
                                   var="type"
                                   itemLabel="#{type.label}"
                                   itemValue="#{type}"/>
                </h:selectOneMenu>                
                <h:message for="restType" errorClass="text-danger"/>

            </h:panelGroup> 

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel value="Cost:" for="cost"/>
                <h:inputText 
                    readonly="#{cc.attrs.readonly ? 'true' : 'false'}"
                    disabled="#{cc.attrs.readonly ? 'true' : 'false'}"

                    class="form-control" 
                    id="cost" 
                    value="#{cc.attrs.resturant.cost}"/>
                <h:message for="cost" errorClass="text-danger"/>
            </h:panelGroup>              


            <ui:fragment rendered="#{not cc.attrs.readonly}">
                <h:commandButton value="Save Restaurant" class="btn btn-primary" action="#{cc.attrs.action}"/>
            </ui:fragment>

        </h:form>                
    </cc:implementation>
</html>