<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="tableRest" required="true" type="edu.iit.sat.itmd4515.lmiro.domain.TableRest" />
        <cc:attribute name="readonly" required="false" default="true" type="java.lang.Boolean" />
        <cc:attribute name="action" required="false" method-signature="java.lang.String action()" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <h2>
            <h:outputText rendered="#{cc.attrs.readonly}" value="View Tables"/>
            <h:outputText rendered="#{not cc.attrs.readonly and empty cc.attrs.tableRest.id}" value="Add New Table"/>
            <h:outputText rendered="#{not cc.attrs.readonly and not empty cc.attrs.tableRest.id}" value="Update Table"/>
        </h2>

        <h:form>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel value="TableRest ID #{cc.attrs.tableRest.id}" for="tableRestId" rendered="#{cc.attrs.readonly or not empty cc.attrs.tableRest.id}" />
                <h:inputHidden class="form-control" id="tableRestVersion" value="#{cc.attrs.tableRest.version}"/>

                <h:inputHidden class="form-control" id="tableRestId" value="#{cc.attrs.tableRest.id}"/>
                <h:message for="tableRestId" errorClass="text-danger"/>
            </h:panelGroup>




            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel value="Capacity:" for="capacity"/>
                <h:inputText 
                    readonly="#{cc.attrs.readonly ? 'true' : 'false'}"
                    disabled="#{cc.attrs.readonly ? 'true' : 'false'}"
                    class="form-control" 
                    p:type="capacity" 
                    id="capacity" 
                    value="#{cc.attrs.tableRest.capacity}">
                    <h:message for="capacity" errorClass="text-danger"/>
                </h:inputText>
            </h:panelGroup>            

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel value="Reserved: " for="reserved"/>
                <h:inputText 
                    readonly="#{cc.attrs.readonly ? 'true' : 'false'}"
                    disabled="#{cc.attrs.readonly ? 'true' : 'false'}"

                    class="form-control" 
                    p:required="required"

                    id="reserved" 
                    value="#{cc.attrs.tableRest.reserved}">
                    <h:message for="reserved" errorClass="text-danger"/>
                </h:inputText>

            </h:panelGroup> 




            <ui:fragment rendered="#{not cc.attrs.readonly}">
                <h:commandButton value="Save Table" class="btn btn-primary" action="#{cc.attrs.action}"/>
            </ui:fragment>

        </h:form>                
    </cc:implementation>
</html>