<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions">

    <h:head>
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>

        <!-- Custom styles for this template -->
        <h:outputStylesheet library="css" name="starter-template.css"/>
    </h:head>
    <h:body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>   

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    
                    <li class="#{fn:startsWith(view.viewId, '/welcome') ? 'nav-item active' : 'nav-item'}">
                        <h:link class="nav-link" outcome="/welcome.xhtml" value="Home"/>
                    </li>  
                    
                    <ui:fragment rendered="#{loginController.customer}">                    
                    <li class="#{fn:startsWith(view.viewId, '/customer') ? 'nav-item active' : 'nav-item'}">
                        <h:link class="nav-link" outcome="/customer/welcome.xhtml" value="Customer Portal"/>
                    </li>
                    </ui:fragment>
                        
                    <ui:fragment rendered="#{loginController.adminRest}">                    
                    <li class="#{fn:startsWith(view.viewId, '/adminrest') ? 'nav-item active' : 'nav-item'}">
                        <h:link class="nav-link" outcome="/adminrest/welcome.xhtml" value="Restuarant Administrator Portal"/>
                    </li> 
                    </ui:fragment>
                        
                    <ui:fragment rendered="#{loginController.admin}">                                            
                    <li class="#{fn:startsWith(view.viewId, '/admin') ? 'nav-item active' : 'nav-item'}">
                        <h:link class="nav-link" outcome="/admin/welcome.xhtml" value="Admin Portal"/>                                                
                    </li> 
                    </ui:fragment>
        
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <h:form>
                                <h:commandLink class="dropdown-item" action="#{loginController.doLogout()}" value="Logout"/>                                
                            </h:form>
                        </div>
                    </li>
                </ul>  
                <ul class="navbar-nav mr-sm-2">
                    <li class="#{fn:startsWith(view.viewId, '/profile') ? 'nav-item active' : 'nav-item'}">
                        <h:link class="nav-link" outcome="/profile.xhtml" value="#{loginController.remoteUser}"/>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="container">
            <div class="starter-template">
                <h1><ui:insert name="title">Default Title</ui:insert></h1>
                <ui:insert name="content">Default Content</ui:insert>
            </div>
        </main><!-- /.container --> 


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </h:body>
</html>

