<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/portalTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        Table Form
    </ui:define>

    <ui:define name="content">
        <h:form>    
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel value="Capacity:" for="capacity"/>
                <h:inputText class="form-control" id="capacity" value="#{adminRestController.tableRest.capacity}"/>
                <h:message for="capacity" errorClass="text-danger"/>
            </h:panelGroup>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel value="Reserved:" for="reserved"/>
                <h:inputText class="form-control" id="reserved" value="#{adminRestController.tableRest.reserved}"/>
                <h:message for="reserved" errorClass="text-danger"/>
            </h:panelGroup>

            <h:commandButton value="Submit" class="btn btn-primary" action="#{adminRestController.doSaveTable()}"/>
        </h:form>  
        <h:link outcome="/adminrest/welcome.xhtml" value="Return to Home Page"/>

    </ui:define>

</ui:composition>
