<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/portalTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        Restaurant Administrator Page
    </ui:define>

    <ui:define name="content">
        <div style ="color: orange">
            <h4> Welcome Restaurant Administrator #{loginController.remoteUser}</h4>
        </div>
            

        <h:form>
            <h:commandButton value="Add Tables" class="btn btn-primary" action="/adminrest/tablerestform.xhtml"/>
        </h:form> 

        <!--        <h:form>
                            <h:commandLink action="#{adminRestController.prepareCreateTableRest()}" value="Add a New Table"/>
                </h:form> 
        -->
        <div style ="color: green">
              <h4>Table List</h4>
        </div>


        <h:dataTable 

            class="table table-striped table-hover"            
            value="#{tabService.findAll()}" 
            var="tableRest">
            <h:column>
                <h:outputText value="#{tableRest.id}"></h:outputText>
                <f:facet name="header"><h:outputText value="ID"/></f:facet>
            </h:column>
            <h:column>
                <h:outputText value="#{tableRest.capacity}"></h:outputText>
                <f:facet name="header"><h:outputText value="Capacity"/></f:facet>
            </h:column>            
            <h:column>
                <h:outputText value="#{tableRest.reserved}"></h:outputText>
                <f:facet name="header"><h:outputText value="Reserved"/></f:facet>
            </h:column>           
            <h:column>
                <h:form>
                    <h:commandLink action="#{adminRestController.prepareViewTableRest(tableRest)}" value="View "/>
                    <h:commandLink action="#{adminRestController.prepareEditTableRest(tableRest)}" value="Edit "/>
                    <h:commandLink action="#{adminRestController.doDeleteTableRest(tableRest)}" value="Delete"/>
                </h:form>
            </h:column>            


        </h:dataTable>  

        <div style ="color: green">
              <h4>Reservation List</h4>
        </div>
        <h:dataTable 
            class="table table-striped table-hover"            
            value="#{resService.findAll()}" 

            var="reservation">
            <h:column>
                <h:outputText value="#{reservation.id}"></h:outputText>
                <f:facet name="header"><h:outputText value="ID"/></f:facet>
            </h:column>
            <h:column>
                <h:outputText value="#{reservation.partyNum}"></h:outputText>
                <f:facet name="header"><h:outputText value="Party Number"/></f:facet>
            </h:column>            
            <h:column>
                <h:outputText value="#{reservation.time}"></h:outputText>
                <f:facet name="header"><h:outputText value="Time"/></f:facet>
            </h:column>
            <h:column>
                <h:outputText value="#{reservation.date}"></h:outputText>
                <f:facet name="header"><h:outputText value="Date"/></f:facet>
            </h:column>            
            
        </h:dataTable>         
    </ui:define>
</ui:composition>