<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/portalTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
            Customer Page
    </ui:define>

    <ui:define name="content">
        <div style ="color: orange">
            <h4> Welcome Customer #{loginController.remoteUser}</h4>
        </div>        
        <h:form>
            <h:commandButton action="#{customerController.prepareCreateReservation()}" value="Add a New Reservation"/>
        </h:form>        
        <h:dataTable 
            class="table table-striped table-hover"            
            value="#{customerController.customer.reservations}" 
            var="reservation">
            <h:column>
                <h:outputText value="#{reservation.id}"></h:outputText>
                <f:facet name="header"><h:outputText value="ID"/></f:facet>
            </h:column>
            <h:column>
                <h:outputText value="#{reservation.partyNum}"></h:outputText>
                <f:facet name="header"><h:outputText value="Party Number"/></f:facet>
            </h:column>            
            <h:column>
                <h:outputText value="#{reservation.time}"></h:outputText>
                <f:facet name="header"><h:outputText value="Time"/></f:facet>
            </h:column>
            <h:column>
                <h:outputText value="#{reservation.date}"></h:outputText>
                <f:facet name="header"><h:outputText value="Date"/></f:facet>
            </h:column>            
            <h:column>
                <h:form>
                    <h:commandLink action="#{customerController.prepareViewReservation(reservation)}" value="View "/>
                    <h:commandLink action="#{customerController.prepareEditReservation(reservation)}" value="Edit "/>
                    <h:commandLink action="#{customerController.doDeleteReservation(reservation)}" value="Delete"/>
                </h:form>
            </h:column>            


        </h:dataTable>         
    </ui:define>
</ui:composition>