<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./WEB-INF/templates/portalTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="title">
        User Profile Page
    </ui:define>

    <ui:define name="content">
        Your user information is:

        <ul>
            <li>#{loginController.remoteUser}</li>
            <li>#{loginController.roles}</li>
        </ul>  
        
      <h:form> 
          <img src="resources/images/reserved.png" style="max-width: 100%; height: 100%"></img>
         
      </h:form>        
    </ui:define>

</ui:composition>
