<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./WEB-INF/templates/signinTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        Sign Up Page
    </ui:define>

    <ui:define name="content">

        <h:form class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Customer Sign Up</h1>

            <h:outputLabel class="sr-only" for="username" value="Username:"/>
            <h:inputText 
                binding="#{username}"
                p:placeholder="Username"
                p:required="required"

                p:autofocus="autofocus"
                styleClass="#{username.valid ? 'form-control' : 'form-control is-invalid'}"
                id="username" 
                value="#{signupController.username}"/>
            <h:message for="username" errorClass="text-danger"/>

            <h:outputLabel class="sr-only" for="password" value="Password:"/>
            <h:inputSecret 
                binding="#{password}"
                p:placeholder="Password"
                styleClass="#{password.valid ? 'form-control' : 'form-control is-invalid'}"
                id="password" 
                value="#{signupController.password}"/>
            <h:message for="password" errorClass="text-danger"/>


            <h:commandButton class="btn btn-lg btn-primary btn-block" value="Sign Up" action="#{signupController.createUser()}"/>
        </h:form>


    </ui:define>

</ui:composition>
