<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./WEB-INF/templates/portalTemplate.xhtml">

    <ui:define name="title">
        Welcome to the Easy Table System
    </ui:define>

    <ui:define name="content">
        Welcome to the Easy Table System
    </ui:define>
</ui:composition>